<div class="container">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="row">
    <div class="card col-md-4" *ngFor="let keg of kegs">
      <div class="card-body">
        <h5 class="card-title">{{keg.name}}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">£{{keg.pintPrice}}</li>
          <li class="list-group-item">{{keg.brand}}</li>
          <li class="list-group-item">{{keg.alcoholContent}}% ABV</li>
        </ul>
      </div>
      <button (click)="editKeg(keg)" class="btn btn-dark btn-sm">Edit</button>
    </div>
    <hr>
    <div *ngIf="selectedKeg">
      <h3>Edit Keg</h3>
      <label>Enter name:</label>
      <input [(ngModel)]="selectedKeg.name">
    </div>
  </div>
